body{

      margin: 0;

      padding: 0;

      background: url(pic1.jpg);

      background-size: cover;

      background-position: center;

      font-family: "Cabin";

  }


  @font-face{
      font-family: "Cabin";
      src: url('Cabin-Regular-TTF.ttf'),
      url('Cabin-Regular-TTF.eot');
  }

.loginbox{

    width: 320px;

    height: 420px;

    background: #000;

    color: #fff;

    top: 50%;

    left: 50%;

    position: absolute;

    transform: translate(-50%,-50%);

    box-sizing: border-box;

    padding: 70px 30px;

}



.avatar{

      width: 100px;

      height: 100px;

      border-radius: 90%;

      position: absolute;

      top: -50px;

      left: calc(50% - 50px);

  }



  h1{

      margin: 0;

      padding: 0 0 30px;

      text-align: center;

      font-size: 25px;

  }



.loginbox p{

    margin: 0;

    padding: 0;

    font-weight: bold;

}



.loginbox input{

    width: 100%;

    margin-bottom: 20px;

  }



.loginbox input[type="text"], input[type="password"]

{

    border: none;

    border-bottom: 1px solid #fff;

    background: transparent;

    outline: none;

    height: 40px;

    color: #fff;

    font-size:16px;

}

.logout-submit input[type="submit"]

{

    border: none;

    outline: none;

    height:40px;

    background: #b3e0ff;

    color: #eaeae1;

    font-size: 18px;

    border-radius: 20px;

}

.signup-submit input[type="submit"]

{

    border: none;

    outline: none;

    height:40px;

    background: #b3e0ff;

    color: #eaeae1;

    font-size: 18px;

    border-radius: 20px;

}

.logout-submit input[type="submit"]:hover

{

    cursor: pointer;

    background: #ffc107;

    color: black;

}

.signup-submit input[type="submit"]:hover

{

    cursor: pointer;

    background: #ffc107;

    color: black;

}

.logout-submit a{

      text-decoration: none;

      font-size: 12px;

      line-height: 20px;

      color: blue;

}

.signup-submit a{

      text-decoration: none;

      font-size: 12px;

      line-height: 20px;

      color: blue;

}

.logout-submit  a:hover

{

      color: #FFA500

}



.signup-submit a:hover

{

      color: #FFA500

}
